.sidebar-text{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.sidebar-text:hover{
    color: #fff;
}
.sidebar{
    background-color: #2177a7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 100vh;
    padding-top: 30px;
    min-width: 30%;
}
@media  screen and (max-width: 767px) {
    .sidebar{
        max-width: 30%;
    
    }
}
@media screen and (min-width: 768px) {
    .sidebar{
        max-width: 35%;
    }
}
.sidebar-drawer{
    list-style-type: none;
    padding-left: 0;
    height: 50px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}
ul{
    padding-left: 0;
}